 .contenido-img {
   margin: auto;
   margin-top: 75px;
 }


 @media screen and (max-width: 600px) {
   .grid-item {
     width: 50%;
   }
 }

 .grid-container {
   column-count: 5;
   column-gap: .5em;
   max-width: 1200px;
   margin: auto;
   width: 100%;
 }

 .grid-item:nth-child(n) {
   margin: 5px;
   margin-right: 0;

 }

 .window {
   border-radius: 20px;
   margin: 0;
   width: auto;
   height: 100%;
   overflow: hidden;
   position: relative;
   z-index: 1;
 }

 .window .foto {
   width: auto;
   border-radius: 20px;
   cursor: zoom-in;
   object-fit: cover;
 }

 /*HOVER ZONE*/
 .hover-zone {
   position: absolute;
   top: 0px;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   cursor: zoom-in;
   display: flex;
   align-content: space-between;
   align-items: baseline;
   justify-content: center;
   flex-wrap: wrap;
   background-color: rgba(000, 000, 0, 0.40);
   user-select: none;
 }

 .hover-zone .top-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 10px;
   width: 100%;
   border-radius: 20px;
 }

 .hover-zone .top-bar p {
   color: white;
   font-size: 20px;
   font-weight: bolder;
   cursor: pointer;
   display: inline-block;
 }

 .hover-zone .top-bar a {
   color: white;
   padding: 5px 10px;
   font-weight: bolder;
   font-size: 18px;
   border-radius: 40px;
   cursor: pointer;
   background: #e60023;
 }

 .hover-zone .top-bar a:hover {
   background: #ac0c1c;
   color: white;
 }

 .hover-zone .bottom-bar {
   padding: 10px 10px;
   width: 100%;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .hover-zone .bottom-bar a {
   padding: 5px 10px;
   background: #efefef;
   border-radius: 40px;
   cursor: pointer;
   font-weight: bolder;
 }

 .hover-zone .bottom-bar a:hover {
   background: white;
 }

 .hover-zone .bottom-bar img {
  width: 20px;
  border-radius: 50%;
  background: #efefef;
  padding: 6px;
  cursor: pointer;
  margin: 0px 2px;
}

.hover-zone .bottom-bar img:hover {
  background: white;
  width: 25px; /* aumentando el tamaño de la imagen */
  transform: scale(1.2); /* aplicando una escala sin cambiar la forma circular */
}
 .hover-zone {
   opacity: 0;
 }

 .window:hover .hover-zone {
   opacity: 1;
 }